{% include "formfields/required/author.html" %}
{% include "formfields/required/title.html" %}
{% include "formfields/required/booktitle.html" %}
{% include "formfields/required/publisher.html" %}
{% include "formfields/required/year.html" %}
<!-- Alussa valinnat piilossa -->
<div id="optionalFields" style="display: none;">
{% include "formfields/optional/editor.html" %}
{% include "formfields/optional/volume.html" %}
{% include "formfields/optional/series.html" %}
{% include "formfields/optional/type.html" %}
{% include "formfields/optional/chapter.html" %}
{% include "formfields/optional/pages.html" %}
{% include "formfields/optional/address.html" %}
{% include "formfields/optional/edition.html" %}
{% include "formfields/optional/month.html" %}
{% include "formfields/optional/note.html" %}
{% include "formfields/optional/key.html" %}

</div>