{% include "formfields/required/title.html" %}
{% include "formfields/required/year.html" %}
<!-- Alussa valinnat piilossa -->
<div id="optionalFields" style="display: none;">
{% include "formfields/optional/editor.html" %}
{% include "formfields/optional/volume.html" %}
{% include "formfields/optional/series.html" %}
{% include "formfields/optional/address.html" %}
{% include "formfields/optional/month.html" %}
{% include "formfields/optional/publisher.html" %}
{% include "formfields/optional/organization.html" %}
{% include "formfields/optional/note.html" %}
{% include "formfields/optional/key.html" %}

</div>