{% extends "layout.html" %}

{% block title %}
Viitesovellus
{% endblock %}

{% block body %}
<div class="custom_box" style="width: 650px;">
  <form method="POST" action='/edit_entry/{{reference.reftype}}/{{ reference.id }}' id="editForm">
    {% include template_path %}
    <button type="button" id="toggleOptionalFields">Näytä lisäkentät</button>
    <button type="submit">Tallenna muutokset</button>
  </form>
</div>
<p><a href="/" class="button-link">Takaisin</a></p>
<script>
  const toggleButton = document.getElementById('toggleOptionalFields');
  const optionalFields = document.getElementById('optionalFields');

  toggleButton.addEventListener('click', () => {
      if (optionalFields.style.display === 'none') {
          optionalFields.style.display = 'block';
          toggleButton.textContent = 'Piilota lisäkentät';
      } else {
          optionalFields.style.display = 'none';
          toggleButton.textContent = 'Näytä lisäkentät';
      }
  });
</script>
{% endblock %}