{% extends "layout.html" %}

{% block title %}
Viitesovellus
{% endblock %}

{% block body %}
<br>
<br>

<img src="static/viitex.png" width="350" >
<br>

<div class="custom_box">   

<form method="GET" action="/" style="display: flex; align-items: center; width: 400px;">
    <input type="text" name="query" placeholder="Hae viitteitä" value="{{ request.args.get('query', '') }}" style="margin-right: 10px; ">
    <button type="submit">Hae</button>
</form>
    
{% if references %}
    <table>
        <thead>
            <tr>
                <th>Viitetyyppi</th>
                <th>Tekijät</th>
                <th>Otsikko</th>
                <th>Julkaisuvuosi</th>
                <th style="text-align: center;">Lisäkentät</th>
                <th style="text-align: center;">Muokkaa</th>
                <th style="text-align: center;">Poista</th>
            </tr>
        </thead>
        <tbody>
            {% for reference in references %}
            <tr>
                <td>{{ reference.reftype|capitalize }}</td>
                <td>{{ reference.author if reference.author else 'n.a.' }}</td>
                <td>{{ reference.title if reference.title else 'n.a.' }}</td>
                <td>{{ reference.year if reference.year else 'n.d.' }}</td>
                <td>
                    <button id="toggleButton-{{ reference.id }}" onclick="toggleDetails('details-{{ reference.id }}', 'toggleButton-{{ reference.id }}')">
                        Näytä lisäkentät
                    </button>
                    <div id="details-{{ reference.id }}" style="display: none; margin-top: 10px;">
                        {% set has_details = false %}
                        {% if reference.volume %}
                            <p>Volyymi: {{ reference.volume }}</p>
                            {% set has_details = true %}
                        {% endif %}
                        {% if reference.series %}
                            <p>Sarja: {{ reference.series }}</p>
                            {% set has_details = true %}
                        {% endif %}
                        {% if reference.address %}
                            <p>Osoite: {{ reference.address }}</p>
                            {% set has_details = true %}
                        {% endif %}
                        {% if reference.edition %}
                            <p>Painos: {{ reference.edition }}</p>
                            {% set has_details = true %}
                        {% endif %}
                        {% if reference.month %}
                            <p>Kuukausi: {{ reference.month }}</p>
                            {% set has_details = true %}
                        {% endif %}
                        {% if reference.note %}
                            <p>Muistiinpano: {{ reference.note }}</p>
                            {% set has_details = true %}
                        {% endif %}
                        {% if reference.key %}
                            <p>Avain: {{ reference.key }}</p>
                            {% set has_details = true %}
                        {% endif %}
                        {% if reference.url %}
                            <p>URL: <a href="{{ reference.url }}" target="_blank">{{ reference.url }}</a></p>
                            {% set has_details = true %}
                        {% endif %}
                        {% if reference.doi %}
                            <p>DOI: {{ reference.doi }}</p>
                            {% set has_details = true %}
                        {% endif %}
                        {% if reference.chapter %}
                            <p>Luku: {{ reference.chapter }}</p>
                            {% set has_details = true %}
                        {% endif %}
                        {% if reference.booktitle %}
                            <p>Teoksen otsikko: {{ reference.booktitle }}</p>
                            {% set has_details = true %}
                        {% endif %}
                        {% if reference.crossref %}
                            <p>Viittaus: {{ reference.crossref }}</p>
                            {% set has_details = true %}
                        {% endif %}
                        {% if reference.institution %}
                            <p>Laitos: {{ reference.institution }}</p>
                            {% set has_details = true %}
                        {% endif %}
                        {% if reference.organization %}
                            <p>Organisaatio: {{ reference.organization }}</p>
                            {% set has_details = true %}
                        {% endif %}
                        {% if reference.howpublished %}
                            <p>Julkaisumuoto: {{ reference.howpublished }}</p>
                            {% set has_details = true %}
                        {% endif %}
                        {% if reference.pages %}
                            <p>Sivut: {{ reference.pages }}</p>
                            {% set has_details = true %}
                        {% endif %}
                        {% if reference.school %}
                            <p>Koulu: {{ reference.school }}</p>
                            {% set has_details = true %}
                        {% endif %}
                        {% if reference.type %}
                            <p>Julkaisun tyyppi: {{ reference.type }}</p>
                            {% set has_details = true %}
                        {% endif %}
                        {% if not has_details %}
                            <p>Ei lisätietoja.</p>
                        {% endif %}
                    </div>
                </td>
                <td><button onclick="location.href='/edit_entry/{{reference.reftype}}/{{reference.id}}'" style="color:aliceblue">Muokkaa</button></td>
                
                <td><button style="color:aliceblue" onclick="if (confirm('Haluatko varmasti poistaa?')) location.href='/delete_entry/reference/{{reference.id}}';" >Poista</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Ei viitteitä tietokannassa.</p>
{% endif %}
</div>
<br>

{% include "functions/ifmessages.html" %}

<div class="button-container" style="display: inline-block;">
    <div class="custom_box" style="width: 378px; height: 240px; display: inline-block; vertical-align: top;">
        <h4>Tuo viitteen tiedot doi-tunnuksen avulla:</h4>
        <form method="POST" action="/doi_reference" id="doiForm">
            <input type="text" id="doi" name="doi" placeholder="Esim. 10.1109/TC.2021.3063618">
            <button type="submit">Lisää</button>
        </form>
    </div>

    <div style="display: inline-block; margin-left: 20px; vertical-align: top; padding-top: 20px;">
        {% include "buttons/add_reference.html" %}
    </div>

    <div style="display: inline-block; margin-left: 20px; vertical-align: top; padding-top: 20px;">
        <a class="button-link" href="/generate_bibtex">Luo BibTeX-tiedosto</a>
    </div>
</div>

<br>
<br>
<br>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        function toggleDetails(detailsId, buttonId) {
            const details = document.getElementById(detailsId);
            const button = document.getElementById(buttonId);
            if (details.style.display === "none" || details.style.display === "") {
                details.style.display = "block";
                button.textContent = "Piilota lisäkentät";
            } else {
                details.style.display = "none";
                button.textContent = "Näytä lisäkentät";
            }
        }

        window.toggleDetails = toggleDetails;
    });
</script>

<!-- Scripti joka piilottaa/näyttää lisävalinnat -->
{% include "functions/show_optional.html" %}
{% endblock %}