{% extends "layout.html" %}

{% block title %}
Viitesovellus
{% endblock %}

{% block body %}

<h1>Viitteet</h1>
    
{% if books %}
    <table>
        <head>
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th>Publisher</th>
                <th>Year</th>
            </tr>
        </head>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.author }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.publisher }}</td>
                <td>{{ book.year }}</td>
                <td><a href="/delete_entry/book/{{book.id}}">Poista</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Ei kirjoja tietokannassa.</p>
{% endif %}

<p><a href="/new_book">Lisää uusi kirja</a></p>

<p><a href="/generate_bibtex">Luo BibTeX-tiedosto</a></p>

{% endblock %}