{% extends "layout.html" %}

{% block title %}
Viitesovellus
{% endblock %}


{% block body %}
{% include "ifmessages.html" %}
<div class="form-container">
    <form method="POST" action="create_reference" id="referenceForm">
      <div class="form-group">
        <label for="author">Tekijät:</label>
        <input type="text" id="author" name="author" placeholder="Pakollinen tieto" required>
      </div>
      <div class="form-group">
        <label for="title">Teoksen nimi:</label>
        <input type="text" id="title" name="title" placeholder="Pakollinen tieto" required>
      </div>
      <div class="form-group">
        <label for="publisher">Kustantaja:</label>
        <input type="text" id="publisher" name="publisher" placeholder="Pakollinen tieto" required>
      </div>
      <div class="form-group">
        <label for="year">Julkaisuvuosi:</label>
        <input type="number" id="year" name="year" placeholder="Pakollinen tieto" required>
      </div>
      <!-- Alussa valinnat piilossa -->
      <div id="optionalFields" style="display: none;">
        <div class="form-group">
            <label for="volume">Volyymi:</label>
            <input type="text" id="volume" name="volume" placeholder="Valinnainen tieto">
        </div>
        <div class="form-group">
            <label for="series">Sarja:</label>
            <input type="text" id="series" name="series" placeholder="Valinnainen tieto">
        </div>
        <div class="form-group">
            <label for="address">Osoite:</label>
            <input type="text" id="address" name="address" placeholder="Valinnainen tieto">
        </div>
        <div class="form-group">
            <label for="edition">Painos:</label>
            <input type="text" id="edition" name="edition" placeholder="Valinnainen tieto">
        </div>
        <div class="form-group">
            <label for="month">Kuukausi:</label>
            <input type="text" id="month" name="month" placeholder="Valinnainen tieto">
        </div>
        <div class="form-group">
            <label for="note">Muistiinpano:</label>
            <textarea id="note" name="note" rows="4" placeholder="Valinnainen tieto"></textarea>
        </div>
        <div class="form-group">
            <label for="key">Avain:</label>
            <input type="text" id="key" name="key" placeholder="Valinnainen tieto">
        </div>
        <div class="form-group">
            <label for="url">URL:</label>
            <input type="url" id="url" name="url" placeholder="Valinnainen tieto">
        </div>
        <div class="form-group">
          <label for="doi">DOI:</label>
          <input type="text" id="doi" name="doi" placeholder="Valinnainen tieto">
        </div>
        <div class="form-group">
          <label for="chapter">Kappale:</label>
          <input type="text" id="chapter" name="chapter" placeholder="Valinnainen tieto">
        </div>
        <div class="form-group">
          <label for="howpublished">Miten julkaistu:</label>
          <input type="text" id="howpublished" name="howpublished" placeholder="Valinnainen tieto">
        </div>
        <div class="form-group">
          <label for="institution">Instituutio:</label>
          <input type="text" id="institution" name="institution" placeholder="Valinnainen tieto">
        </div>
        <div class="form-group">
          <label for="issue">Julkaisu:</label>
          <input type="number" id="issue" name="issue" placeholder="Valinnainen tieto">
        </div>
        <div class="form-group">
          <label for="journal">Aikakauslehti:</label>
          <input type="text" id="journal" name="journal" placeholder="Valinnainen tieto">
        </div>
        <div class="form-group">
          <label for="misc_details">Misc lisätieto:</label>
          <input type="text" id="misc_details" name="misc_details" placeholder="Valinnainen tieto">
        </div>
        <div class="form-group">
          <label for="number">Numero:</label>
          <input type="number" id="number" name="number" placeholder="Valinnainen tieto">
        </div>
        <div class="form-group">
          <label for="organization">Organisaatio:</label>
          <input type="text" id="organization" name="organization" placeholder="Valinnainen tieto">
        </div>
        <div class="form-group">
          <label for="pages">Sivut:</label>
          <input type="text" id="pages" name="pages" placeholder="Valinnainen tieto">
        </div>
        <div class="form-group">
          <label for="school">Koulu:</label>
          <input type="text" id="school" name="school" placeholder="Valinnainen tieto">
        </div>
    </div>
      <button type="button" id="toggleOptionalFields">Näytä lisäkentät</button>
      <button type="submit">Lisää</button>
    </form>
  </div>
<br></b>
<p><button><a href="/" style="color:aliceblue">Lista kirjoista</a></button></p>

<script>
  const toggleButton = document.getElementById('toggleOptionalFields');
  const optionalFields = document.getElementById('optionalFields');

  toggleButton.addEventListener('click', () => {
      if (optionalFields.style.display === 'none') {
          optionalFields.style.display = 'block';
          toggleButton.textContent = 'Piilota lisäkentät';
      } else {
          optionalFields.style.display = 'none';
          toggleButton.textContent = 'Näytä lisäkentät';
      }
  });
</script>
{% endblock %}