{% extends "layout.html" %}

{% block title %}
Viitesovellus
{% endblock %}

{% block body %}
{% include "functions/ifmessages.html" %}
<br>
<br>
<h2>{{ reference_type|capitalize }}</h2>
<div class="custom_box" style="width: 650px;">
  <form method="POST" action="/create_reference" id="referenceForm">
    {% include template_path %}
    <input type="hidden" name="reftype" value="{{ reference_type }}">
    <button type="button" id="toggleOptionalFields">Näytä lisäkentät</button>
    <button type="submit">Lisää</button>
  </form>
</div>

<br></b>
<p><a href="/" class="button-link">Lista Viitteistä</a></p>

{% include "functions/add_optional.html" %}
{% endblock %}