{% extends "layout.html" %}

{% block title %}
ViiTeX
{% endblock %}

{% block body %}
{% include "functions/ifmessages.html" %}


<div class="form-container">
  <form method="POST" action="/create_reference" id="referenceForm">
    <input type="hidden" name="reftype" value="{{ reference_type }}">
    {% if reference_type in reference_fields %}
        <!-- pakolliset kentät -->
        {% for field in reference_fields[reference_type][0] %}
        <label for="{{ field }}">{{ field | capitalize }}:</label>
        <input type="text" 
        id="{{ field }}" 
        name="{{ field }}" 
        value="{{ form_data.get(field, '') if form_data else '' }}"
        placeholder="Pakollinen kenttä">
        {% endfor %}
        <!-- valinnaiset kentät -->
        <button type="button" id="toggleOptionalFields">Näytä lisäkentät</button>
        <div id="optionalFields" style="display: none;">
          {% for field in reference_fields[reference_type][1] %}
          <label for="{{ field }}">{{ field | capitalize }}:</label>
          <input type="text" 
          id="{{ field }}" 
          name="{{ field }}" 
          value="{{ form_data.get(field, '') if form_data else '' }}"
          placeholder="Valinnainen kenttä">
          {% endfor %}
        </div>
    {% endif %}
    <button type="submit">Lisää</button>
  </form>
</div>


<br></b>
<p><a href="/" class="button-link">Lista Viitteistä</a></p>

{% include "functions/add_optional.html" %}
{% endblock %}