<div class="dropdown">
  <button class="dropbtn">Lisää uusi viite</button>
  <div class="dropdown-content">
      <a href="/new_reference/article">
        <span class="fi">Artikkeli</span>
        <span class="en">Article</span>
      </a>
      <a href="/new_reference/inproceedings">
        <span class="fi">Artikkeli konferenssijulkaisussa</span>
        <span class="en">Inproceedings</span>
      </a>
      <a href="/new_reference/book">
        <span class="fi">Kirja</span>
        <span class="en">Book</span>
      </a>
      <a href="/new_reference/booklet">
        <span class="fi">Kirjanen</span>
        <span class="en">Booklet</span>
      </a>
      <a href="/new_reference/inbook">
        <span class="fi">Kirjan osa</span>
        <span class="en">Inbook</span>
      </a>
      <a href="/new_reference/incollection">
        <span class="fi">Nimetty kirjan osa</span>
        <span class="en">Incollection</span>
      </a>
      <a href="/new_reference/unpublished">
        <span class="fi">Julkaisematon</span>
        <span class="en">Unpublished</span>
      </a>
      <a href="/new_reference/conference">
        <span class="fi">Konferenssi</span>
        <span class="en">Conference</span>
      </a>
      <a href="/new_reference/proceedings">
        <span class="fi">Konferenssin tiedonanto</span>
        <span class="en">Proceedings</span>
      </a>
      <a href="/new_reference/manual">
        <span class="fi">Ohjekirja</span>
        <span class="en">Manual</span>
      </a>
      <a href="/new_reference/mastersthesis">
        <span class="fi">Maisterintutkielma</span>
        <span class="en">Master's Thesis</span>
      </a>
      <a href="/new_reference/misc">
        <span class="fi">Sekalainen</span>
        <span class="en">Misc</span>
      </a>
      <a href="/new_reference/phdthesis">
        <span class="fi">Väitöskirja</span>
        <span class="en">PhD Thesis</span>
      </a>
      <a href="/new_reference/techreport">
        <span class="fi">Tekninen raportti</span>
        <span class="en">Tech Report</span>
      </a>
  </div>
</div>