<div class="dropdown">
  <button class="dropbtn">Lisää uusi viite</button>
  <div class="dropdown-content">
    <a href="/new_reference/article">Artikkeli</a>
    <a href="/new_reference/book">Kirja</a>
    <a href="/new_reference/booklet">Kirjanen (Booklet)</a>
    <a href="/new_reference/conference">Konferenssi (Conference)</a>
    <a href="/new_reference/inbook">Kirjan osa (inbook)</a>
    <a href="/new_reference/incollection">nimetty kirjan osa (incollection)</a>
    <a href="/new_reference/inproceedings">Artikkeli konferenssijulkaisussa (inproceedings)</a>
    <a href="/new_reference/manual">Ohjekirja (Manual)</a>
    <a href="/new_reference/mastersthesis">Maisterintutkielma</a>
    <a href="/new_reference/misc">Sekalainen (Misc)</a>
    <a href="/new_reference/phdthesis">Väitöskirja (Phd thesis)</a>
    <a href="/new_reference/proceedings">Konferenssin tiedonanto (proceedings)</a>
    <a href="/new_reference/techreport">tekninen raportti(Tech report)</a>
    <a href="/new_reference/unpublished">Julkaisematon (unpublished)</a>
  </div>
</div>