{% include "editformfields/required/author.html" %}
{% include "editformfields/required/title.html" %}
{% include "editformfields/required/school.html" %}
{% include "editformfields/required/year.html" %}

<!-- Alussa valinnat piilossa -->
<div id="optionalFields" style="display: none;">
{% include "editformfields/optional/type.html" %}
{% include "editformfields/optional/address.html" %}
{% include "editformfields/optional/month.html" %}
{% include "editformfields/optional/note.html" %}
{% include "editformfields/optional/key.html" %}
</div>